* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* display: flex;
  justify-content: center; */
     background: linear-gradient(90deg, #2F2325 0%, #8E5D52 100%);
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #2F2325 0%, #8E5D52 100%);
    /* max-width: 1080px; */
    width: 100%;
    height: 100%;
    margin: 0 auto;

}

.header1,
.main1,
.footer1 {
    max-width: 1080px;
    margin: 0 auto;
}

.header1 {

    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

header {
    border-bottom: 0.4px solid #FFF2E7 ;
}

.img-hmb-menu {
    width: 40px;
}

.ul-header {
    display: none;
}
.main1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
/* main {
    width: 100%;
} */

h1 {
    color: #FFF2E7;
    font-family: "Righteous", sans-serif;
    font-size: 40px;
    font-weight: 400;
}
h2{
    font-family: "Righteous", sans-serif;
}

.banner-sec {
    color: #ECD6C4;
    /* margin: 0 auto; */
    padding: 20px;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.p-banner {
    line-height: 1.5;
}

.banner-sec a {
    text-decoration: none;
    background-color: #ECD6C4;
    padding: 15px 20px;
    /* width: 50%; */
    margin: 0 auto;
    color: #1f0f0e;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 1px 1px 5px;
}

.hero-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

figure img {
    width: 250px;
}

.sobre-bot::before {
    content: '';
    position: absolute;
    top: 0;
    height: .1px;
    width: 65%;
    background-color: #FFF2E7;
    left: 50%;
    transform: translateX(-50%);
}

.sobre-bot {
    color: #FFF2E7;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    margin-top: 32px;
}

.hero-footer {
    text-align: center;
    border-top: 1px solid #FFF2E7;
}
.lista-fudida{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-footer p {
    color: #ECD6C4;
    font-size: 40px;
    text-transform: uppercase;
    padding: 30px 20px;
    letter-spacing: 5px;

}

.menu {
    background-color: white;
    position: absolute;
    width: 80%;
    /* height: 100%; */
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-100%);
    transition: all .4s ease-in-out;
    background-color: #ECD6C4;
}

.menu-open {
    transform: translateX(0);
}

.ul-mobile {
    list-style-type: none;
    /* text-align: ; */
}

.ul-mobile a {
    text-decoration: none;
    color: #1f0f0e;

}

.ul-mobile li {
    padding: 20px;
    /* background-color: #FFF2E7; */
    border-bottom: 1px solid #FFF2E7;
}

.menu-mob {
    width: 100%;
    height: 100%;
    text-align: end;
    padding: 30px;
}

@media screen and (min-width: 700px) {
    .menu-mob {
        display: none;
    }

    .img-hmb-menu {
        display: none;
    }
    h1{
         font-size: 62px;
    }

    .ul-header {
        display: flex;
        list-style: none;
        gap: 16px;
    }

    .ul-header a {
        color: #FFF2E7;
        text-decoration: none;
        padding: 20px;
        transition:all .3s ease-in-out;
        border-radius: 20px;
    }
.ul-header a:hover{
    background-color:#ECD6C4  ;
    color: #1f0f0e;
    
}
    .hero-banner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
     
        max-width: 1100px;

    }

    .banner-sec {
        text-align: left;
    }

    .banner-sec a {
        margin: 0;
        width: 140px;
        text-align: center;
    }

    .sobre-bot::before {
        width: 20%;
    }

    .sobre-bot {
        margin-top: 60px;
        padding: 50px 0;
    }
    .footer1{
        margin-top: 50px;
    }
}